.toolbar-spacer {
  flex: 1 1 auto;
}

.app-container {
  display: flex;
  padding: 20px;

  > div {
    flex-grow: 1;

    &.right-col {
      flex-grow: 2;
      margin-left: 20px;
    }
  }
}

.print-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
